@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&family=Inria+Serif&family=Inter&family=Khmer&display=swap");
.page {
  margin: 0px;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Arial Nova", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial Nova", "Inria Serif", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}

p,
a,
span {
  font-size: 18px;
}

a,
a:visited {
  color: #000000;
}

a:hover {
  color: #cf6737;
  text-decoration: none;
}

.chaufea-text-1 {
  color: #cf6737;
}

.chaufea-text-2 {
  color: #684529;
}

.chaufea-heading-1 {
  font-size: 40px;
  color: #cf6737;
}

.chaufea-heading-2 {
  font-size: 32px;
  color: #cf6737;
}

.chaufea-heading-3 {
  font-size: 22px;
  color: #cf6737;
}

.chaufea-btn-1 {
  background-color: #cf6737;
  color: #ffffff !important;
  padding: 12px 35px;
  border-radius: 10px;
  transition: all 300ms;
  font-size: 17px;
  border: 1px solid #cf6737;
}

.chaufea-btn-1:hover {
  background-color: #ffffff;
  color: #cf6737 !important;
}

.homestay-section,
.facilities-section {
  background-color: #f9f9f9;
}

.contact-section,
.contact-form-section {
  background-color: rgba(48, 54, 52, 0.0980392157);
}

.chaufea-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
}
.chaufea-sidenav .menu-item a {
  border-bottom: 1px solid #cf6737;
}

.chaufea-sidenav a {
  padding: 8px 8px 8px 8px;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  color: #111;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
}

.chaufea-sidenav a:hover {
  color: #cf6737;
}

.chaufea-sidenav .closebtn {
  padding: 0px;
}

.main-navigation ul.chaufea-menu {
  display: block;
}

.chaufea-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-wrap {
  position: relative;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-wrap .owl-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  position: absolute;
  right: 15px;
  top: 380px;
  z-index: 2;
}
.slider-wrap .owl-carousel button.owl-dot span {
  background-color: transparent;
  border: 1px solid #cf6737;
  width: 15px;
  display: block;
  height: 15px;
  border-radius: 50%;
}
.slider-wrap .owl-carousel button.owl-dot.active span {
  background-color: #684529;
}

.header-angkor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.custom-logo {
  height: 160px;
  width: auto;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.header-title h1 {
  font-size: 45px;
  margin-bottom: 0.7em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.header-title p {
  font-size: 27px;
  color: #fff;
  text-align: center;
}

.room-check-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.chaufea-modal {
  max-width: 700px;
  height: auto;
  overflow: visible;
}

.flag-dropdown {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 5px;
}
.flag-dropdown img {
  width: 25px;
  height: 17px;
  -o-object-fit: cover;
  object-fit: cover;
}

.room-check-form .reserv-inner-wrap {
  color: #cf6737;
  height: 60px;
}
.room-check-form .reserv-inner-wrap .datepick-label {
  position: absolute;
  width: 80%;
  top: 0;
  height: 100%;
  background-color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.room-check-form .reserv-inner-wrap input.reserv-datepick {
  border-radius: 0;
  border: 1px solid #fff;
  background-color: #fff;
  height: 100%;
  padding-right: 5px;
}
.room-check-form .reserv-inner-wrap input.reserv-datepick:focus {
  outline: none;
}
.room-check-form .reserv-select {
  height: 100%;
  width: 100%;
  border-radius: 0;
  padding-inline: 5px;
  border: none;
}
.room-check-form .reserv-select :focus {
  outline: none;
}
.room-check-form .reserv-select .reserv-option {
  height: 60px;
  border-radius: 0;
}
.room-check-form .reserv-submit {
  height: 100%;
  width: 100%;
  background-color: #cf6737;
  color: #fff;
  border: none;
  border-radius: 0;
}

.border-right-1 {
  border-right: 1px solid #000;
}

.check-form-single {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#register-form input,
#login-form input,
#forget-password-form input,
#reset-password-form input,
#contact-form input,
#profile-form input {
  border-radius: 0;
}

.profile-section {
  padding-top: 20px !important;
}

.profile-img {
  position: relative;
  margin-top: -100px;
  width: 200px;
  height: 200px;
}

.profile-name {
  font-size: 34px;
  font-weight: 400;
}

.profile-email {
  font-size: 20px;
}

.profile-img-icon {
  width: 30px;
  height: 30px;
  font-size: 10px;
  position: absolute;
  bottom: 17px;
  right: 17px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cf6737;
  color: #fff;
}

.logout-icon {
  font-size: 50px;
  width: 100px;
  height: 100px;
  border: 5px solid #cf6737;
  border-radius: 50%;
  padding: 20px;
  color: #cf6737;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chaufea-icon-box {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-block: 15px;
}
.chaufea-icon-box p {
  font-weight: 600;
}

.site-footer {
  color: #a1a1a1;
  background-color: #303634;
  padding: 80px 30px 20px;
}
.site-footer p,
.site-footer a {
  font-size: 18px;
}
.site-footer a:hover {
  color: #cf6737 !important;
  text-decoration: none;
}
.site-footer .footer-inner-wrap {
  margin: 0 100px;
}
.site-footer a,
.site-footer a:visited {
  color: #a1a1a1;
}
.site-footer .footer-title {
  margin-bottom: 25px;
  color: #fff;
}
.site-footer ul.explore-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-footer ul.explore-menu li {
  line-height: 2.2rem;
}
.site-footer .footer-contact {
  color: #fff;
}

.chaufea_address {
  font-family: "Khmer", Arial, Helvetica, sans-serif;
}

.chaufea-section {
  padding: 60px;
}

.chaufea-section-bg {
  padding: 60px;
  background-color: #f9f9f9;
}

.home-gal-img-2,
.home-gal-img-4 {
  margin-top: -100px;
}

.homestay-section .homestay-thumnail {
  -o-object-fit: cover;
  object-fit: cover;
  height: 300px;
}
.homestay-section .home-homestay-wrap {
  transition: all 200ms;
}
.homestay-section .home-homestay-wrap:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.homestay-section .homestay-d-info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
}
.homestay-section .homestay-d-info p {
  font-size: 20px;
}
.homestay-section .homestay-d-info .homestay-title {
  color: #fff;
  font-family: "Arial Nova", "Inria Serif", serif;
  font-size: 22px;
  border-bottom: 1px solid #fff;
}
.homestay-section .homestay-d-info .homestay-title:hover {
  color: #cf6737;
}
.homestay-section .special-wrap {
  padding-top: 5px;
  border-top: 1px solid #fff;
  display: none;
  justify-content: space-between;
  width: 100%;
  height: 0;
}
.homestay-section .special-wrap a {
  color: #fff;
  transition: all 200ms;
}
.homestay-section .special-wrap a:hover {
  color: #cf6737;
}
.homestay-section .home-homestay-wrap:hover .special-wrap {
  display: flex;
  height: auto;
}
.homestay-section .special-list {
  display: flex;
  gap: 5px;
}
.homestay-section .special-list img {
  height: 20px;
  filter: brightness(100);
}
.homestay-section .home-homestay-wrap:hover .homestay-title {
  border-bottom: none;
}

.extra-service-section {
  background-color: #303634;
}
.extra-service-section p {
  color: #a1a1a1;
}
.extra-service-section .extra-service-wrap > img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.extra-service-section .extra-service-wrap .extra-service-detail {
  background-color: #fff;
  padding: 1rem 1rem 2rem;
}
.extra-service-section
  .extra-service-wrap
  .extra-service-detail
  .special-service-price {
  font-family: "Inria Serif";
  font-size: 26px;
  color: #cf6737;
}
.extra-service-section .extra-service-wrap .extra-service-detail ul.features {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.extra-service-section
  .extra-service-wrap
  .extra-service-detail
  ul.features
  .feature {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-block: 20px;
}
.extra-service-section
  .extra-service-wrap
  .extra-service-detail
  ul.features
  .feature
  > span {
  width: 85%;
  font-size: 16px;
}
.extra-service-section
  .extra-service-wrap
  .extra-service-detail
  ul.features
  .feature
  img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
  object-fit: cover;
}
.extra-service-section .owl-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 70px;
  margin-bottom: 40px;
}
.extra-service-section .owl-carousel button.owl-dot span {
  border: 1px solid #a1a1a1;
  width: 15px;
  display: block;
  height: 15px;
  border-radius: 50%;
}
.extra-service-section .owl-carousel button.owl-dot.active span {
  background-color: #684529;
}

.service-section p {
  font-size: 16px;
}
.service-section .servcie-image {
  transition: all 200ms;
}
.service-section .servcie-image:hover {
  transform: scale(1.02);
}

.chaufea-facility-wrap {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  padding-bottom: 70px;
}
.chaufea-facility-wrap .chaufea-facility-bg {
  position: absolute;
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(100%);
  z-index: 1;
  opacity: 0.2;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.chaufea-facility-wrap .chaufea-facility-content {
  position: relative;
  z-index: 2;
}
.chaufea-facility-wrap p,
.chaufea-facility-wrap a,
.chaufea-facility-wrap span {
  font-size: 16px;
}
.chaufea-facility-wrap .fa-image {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}

.contact-section p {
  font-size: 16px;
}
.contact-section .contact-wrap input::-moz-placeholder {
  color: #a1a1a1;
}
.contact-section .contact-wrap input::placeholder {
  color: #a1a1a1;
}
.contact-section .contact-wrap .submit-btn {
  background-color: #cf6737;
  padding: 20px;
  width: 300px;
  color: #fff;
  font-family: "Inria Serif", serif;
  font-size: 24px;
}
.contact-section .contact-wrap .wpcf7-not-valid-tip {
  font-size: 0.7em;
}
.contact-section .chaufea-maps {
  margin-bottom: -5.7px;
}
.contact-section .chaufea-maps p {
  margin: 0;
}
.contact-section .chaufea-maps iframe {
  height: 700px !important;
  width: 100% !important;
}

.contact-form-section p {
  font-size: 16px;
}
.contact-form-section .contact-wrap input::-moz-placeholder {
  color: #a1a1a1;
}
.contact-form-section .contact-wrap input::placeholder {
  color: #a1a1a1;
}
.contact-form-section .contact-wrap .submit-btn {
  background-color: #cf6737;
  padding: 20px;
  width: 300px;
  color: #fff;
  font-family: "Inria Serif", serif;
  font-size: 24px;
}
.contact-form-section .contact-wrap .wpcf7-not-valid-tip {
  font-size: 0.7em;
}

.room-search-section .homestay-thumnail {
  -o-object-fit: cover;
  object-fit: cover;
  height: 500px;
}
.room-search-section .homestay-d-info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
}
.room-search-section .homestay-d-info .homestay-title {
  color: #fff;
  font-family: "Inria Serif", serif;
  font-size: 22px;
  border-bottom: 1px solid #fff;
}
.room-search-section .homestay-d-info p {
  font-size: 20px;
}
.room-search-section .homestay-d-info .homestay-title:hover {
  color: #cf6737;
}
.room-search-section .more-short-detail {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #303634;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 40px 1em;
  display: none;
  opacity: 0;
  transition: opacity 200ms;
  flex-direction: column;
  justify-content: space-between;
}
.room-search-section .more-short-detail .homestay-title {
  color: #fff;
  font-family: "Inria Serif", serif;
  font-size: 25px;
}
.room-search-section .home-homestay-wrap .more-short-detail .amenity-img {
  height: 30px;
}
.room-search-section .home-homestay-wrap .more-short-detail .amenity-txt {
  display: flex;
  font-size: 16px;
  margin-left: 10px;
  align-items: center;
  color: #fff;
}
.room-search-section .home-homestay-wrap:hover .more-short-detail {
  display: flex;
  opacity: 1;
}
.room-search-section .home-homestay-wrap:hover .more-short-detail .amenity-img {
  height: 30px;
}
.room-search-section .home-homestay-wrap:hover .more-short-detail .amenity-txt {
  font-size: 16px;
  margin-left: 10px;
}

.form-control.chaufea-input {
  padding-left: 10px;
  height: calc(3em + 0.75rem + 2px);
  border: none;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.15em,
    rgba(90, 125, 188, 0.05) 0px 0.15em 1em;
  background-color: #fff;
  border-radius: 0%;
}

textarea.form-control.chaufea-input {
  height: calc(8em + 0.75rem + 2px);
  background-color: #fff;
}

.contact-submit-wrap {
  padding: 72px;
}

.contact-submit {
  padding-inline: 72px;
  border-radius: 0%;
}

.contact-captcha {
  display: flex;
  gap: 20px;
}

.blog-section {
  background-color: #303634;
}
.blog-section .blog-carousel {
  position: relative;
}
.blog-section .blog-carousel .owl-nav {
  position: static;
  height: 0;
  padding: 1rem;
}
.blog-section .blog-carousel .owl-nav .owl-prev,
.blog-section .blog-carousel .owl-nav .owl-next {
  position: absolute;
  top: 242.5px;
  width: 60px;
  height: 60px;
  color: #fff !important;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 2;
}
.blog-section .blog-carousel .owl-nav .owl-prev span,
.blog-section .blog-carousel .owl-nav .owl-next span {
  font-size: 35px;
}
.blog-section .blog-carousel .owl-nav .owl-prev {
  left: 1.1rem;
}
.blog-section .blog-carousel .owl-nav .owl-next {
  right: 1.1rem;
}
.blog-section .blog-carousel .owl-dots {
  display: none;
}

.blog-short-detail {
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms;
  display: none;
}
.blog-short-detail .blog-detail-btn {
  padding-block: 15px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  color: #000;
  font-family: "Inria Serif", serif;
  transition: all 200ms;
  position: absolute;
  left: 5%;
  bottom: 30px;
  width: 90%;
  z-index: 1;
}
.blog-short-detail .blog-detail-btn:hover {
  background-color: #cf6737;
  color: #fff;
}
.blog-short-detail > div {
  max-height: 100%;
  height: 90%;
  overflow-y: hidden;
}
.blog-short-detail p {
  color: #fff !important;
}

.blog-image:hover .blog-short-detail {
  display: flex;
  opacity: 1;
}

.blog-image img {
  height: 545px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.search-post-thumbnail-wrap .post-thumbnail img {
  height: 200px !important;
  -o-object-fit: cover;
  object-fit: cover;
}

.search-result {
  font-size: inherit !important;
}

.wp-block-latest-posts__post-title {
  font-size: 14px;
}

.package-section .owl-nav {
  display: none;
}
.package-section .owl-dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 70px;
  margin-bottom: 40px;
}
.package-section .owl-carousel button.owl-dot span {
  background-color: #ffffff;
  border: 1px solid #684529;
  width: 15px;
  display: block;
  height: 15px;
  border-radius: 50%;
}
.package-section .owl-carousel button.owl-dot.active span {
  background-color: #684529;
}
.package-section .package-detail-wrap {
  position: absolute;
  height: 100%;
  z-index: 1;
}
.package-section .package-detail-wrap p {
  font-size: 16px;
}
.package-section .package-detail-wrap .package-detail {
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
}
.package-section .package-detail-wrap .package-detail .package-special-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.package-section
  .package-detail-wrap
  .package-detail
  .package-special-wrap
  img {
  display: inline;
  width: 30px;
  height: 30px;
}
.package-section .package-image-wrap {
  height: 500px;
  z-index: 0;
}
.package-section .package-image-wrap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

ul.booking-history_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.booking-history_list li.booking-history_item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px 3vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
ul.booking-history_list li.booking-history_item .booking-id {
  font-weight: 400;
}
ul.booking-history_list li.booking-history_item .booking-history_item-img {
  margin-right: 25%;
}

/*
===> Single Posts <===
---------------------------*/
.homestay-col-1 {
  padding-right: 100px;
}

.room-list-item + .room-list-item {
  margin-top: 30px;
}

.room-list-item {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.single-room-price {
  color: #ff0000;
  font-size: 30px;
  font-weight: 400;
}

ul.amenities-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 120px;
}
ul.amenities-list .amenity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
ul.amenities-list .amenity img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

ul.check-in-list,
ul.check-out-list,
ul.service-hours-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.check-in-list .check-in-item,
ul.check-in-list .check-out-item,
ul.check-in-list .hours-item,
ul.check-out-list .check-in-item,
ul.check-out-list .check-out-item,
ul.check-out-list .hours-item,
ul.service-hours-list .check-in-item,
ul.service-hours-list .check-out-item,
ul.service-hours-list .hours-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
ul.check-in-list .check-in-item img,
ul.check-in-list .check-out-item img,
ul.check-in-list .hours-item img,
ul.check-out-list .check-in-item img,
ul.check-out-list .check-out-item img,
ul.check-out-list .hours-item img,
ul.service-hours-list .check-in-item img,
ul.service-hours-list .check-out-item img,
ul.service-hours-list .hours-item img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
  object-fit: cover;
}

.check-now-btn {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-size: 20px;
  background-color: #cf6737;
  color: #ffffff !important;
  padding: 10px 40px;
  border-radius: 5px;
  transition: all 300ms;
  font-size: 17px;
  border: 1px solid #cf6737;
}

.check-now-btn:hover {
  background-color: #ffffff;
  color: #cf6737 !important;
}

/*
===== Single Blog =======
*/
.comment-count {
  font-size: 27px;
}

#commentform {
  display: flex;
  flex-wrap: wrap;
}
#commentform .comment-form-comment {
  margin-top: 20px;
}
#commentform .comment-form-comment textarea {
  border: none;
  height: 6.5em;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
#commentform .comment-form-comment textarea:focus {
  outline: none;
}
#commentform .comment-form-author input,
#commentform .comment-form-email input {
  border: none;
  height: 3.5em;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
#commentform .comment-form-author input:focus,
#commentform .comment-form-email input:focus {
  outline: none;
}
#commentform .form-submit {
  margin-top: 30px;
}
#commentform .form-submit input {
  background-color: #cf6737;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 7px;
  transition: all 200ms;
}
#commentform .form-submit input:hover {
  background-color: #684529;
}

.widget_block {
  padding: 20px 15px;
  background-color: rgba(207, 103, 55, 0.1921568627);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.widget_block .latest-posts__list {
  margin: 0;
  padding: 0;
}
.widget_block .latest-posts__list li {
  height: auto;
  padding-right: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.widget_block .latest-posts__list li:not(:last-child) {
  margin-bottom: 1em;
}
.widget_block .latest-posts__list li .latest-posts__featured-image {
  margin: 0;
}
.widget_block .latest-posts__list li .latest-posts__featured-image img {
  max-width: 130px;
  height: 90px;
  width: 130px;
}
.widget_block .categories_list {
  margin: 0;
  padding-left: 10px !important;
  list-style-type: "\f054";
}
.widget_block .categories_list li {
  font-family: "Font Awesome 5 Pro";
  padding-left: 15px;
  padding-block: 5px;
}
.widget_block ul.tags_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.widget_block ul.tags_list li.tag-cloud {
  display: inline-block;
  margin: 5px;
}
.widget_block ul.tags_list li.tag-cloud a.tag-cloud-link {
  padding: 3px 7px;
  font-size: 10pt !important;
  background-color: #fff;
  margin-bottom: 5px;
}

.payment-dropdown img {
  height: 28px;
}

.extra-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra-card img {
  height: 37px;
}

.payment-toggle {
  position: absolute;
  right: 10px;
  top: 38%;
}

.booking-detail-wrap {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.book-detail-table tr td:first-child {
  padding-left: 0;
  padding-right: 0;
}
.book-detail-table tr td:last-child {
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}

.thank-you-text {
  margin-left: 30px;
}
.thank-you-text p:first-child,
.thank-you-text p:first-child > * {
  font-size: 27px;
  margin-bottom: 0em;
}
.thank-you-text p + p {
  font-size: 18px;
}

.confirmed-detail {
  border-left: 5px solid #cf6737;
  padding-left: 30px;
}
.confirmed-detail p {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 0.5em;
}
.confirmed-detail p span {
  font-weight: 300;
  font-size: 15px;
}

@media (min-width: 992px) {
  .chaufea-footer-col-3 {
    padding-left: 50px;
  }
  .header-title {
    min-width: 850px;
  }
}
@media (min-width: 1500px) {
  .chaufea-section,
  .chaufea-section-bg {
    padding-inline: 170px;
  }
}
@media (max-width: 767px) {
  .site-info a,
  .site-info p {
    font-size: 16px;
  }
  .header-inner-wrap {
    padding-inline: 15px;
  }
  .chaufea-section,
  .chaufea-section-bg {
    padding-inline: 15px;
  }
  .site-footer .footer-inner-wrap {
    margin: 0;
  }
  .contact-submit-wrap {
    padding: 0px;
  }
  .blog-section .blog-image img {
    height: 445px;
  }
  .blog-section .blog-carousel .owl-nav .owl-prev,
  .blog-section .blog-carousel .owl-nav .owl-next {
    top: 192.5px;
  }
  .blog-section .blog-carousel .owl-nav .owl-prev {
    left: 0.2rem;
  }
  .blog-section .blog-carousel .owl-nav .owl-next {
    right: 0.2rem;
  }
  .chaufea-heading-1 {
    font-size: 30px;
  }
  .homestay-col-1 {
    padding-right: 15px;
  }
  .package-section .package-detail-wrap {
    position: relative;
  }
  .package-section .package-detail-wrap .package-special-wrap > div {
    width: 100%;
  }
  .package-section .package-image-wrap {
    height: 200px;
  }
  .chaufea-heading-2 {
    font-size: 24px;
  }
  .header-title {
    width: 90%;
  }
  .header-title h1 {
    font-size: 30px;
  }
  .header-title p {
    font-size: 20px;
  }
  .home-gal-img-2,
  .home-gal-img-4 {
    margin-top: 0px;
  }
} /*# sourceMappingURL=app.css.map */
